path:hover{
      opacity: 0.75;
   }
path{
      fill: rgb(205, 218, 224); fill-opacity: 1; fill-rule: evenodd; stroke: none; stroke-width: 1px; stroke-linecap: butt; stroke-linejoin: miter; stroke-opacity: 1;
   }
#TextMap{
   user-select: none;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
}
#GAM{
   fill: rgb(119, 207, 124);
}
#Azcapotzalco{
   fill: rgb(119, 207, 124);
}
#Venustiano{
   fill: rgb(119, 207, 124);
}
#Iztacalco{
   fill: rgb(119, 207, 124);
}
#Miguel{
   fill: rgb(219, 49, 77); 
}
#Cuauhtémoc{
   fill:  rgb(219, 49, 77);
}
#Benito{
   fill: rgb(119, 207, 124); 
}
#Alvaro{
   fill: rgb(119, 207, 124);
}
#Cuajimalpa{
   fill: rgb(119, 207, 124);
}
#Magdalena{
   fill: hsl(46, 100%, 67%); 
}
#Tlalpan{
   fill: rgb(119, 207, 124); 
}
#Milpa{
   fill: rgb(119, 207, 124); 
}

#Coyoacán{
   fill: rgb(119, 207, 124);
}
#Iztapalapa{
   fill: rgb(119, 207, 124);
}
#Tlahuac{
   fill: rgb(119, 207, 124); 
}
#Xochimilco{
   fill: rgb(119, 207, 124);
}

