
/* #region TOP BAR AND TITLE*/
  p {
    display: inline-block;
  }
  .titlebar{
    display: flex;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    justify-content: space-between;
    vertical-align: top;
  }

  .titlebar h1{
    font-size: 30px;
    display: inline-block; 
    text-transform: uppercase;
    border-top: black solid 2px;
    border-bottom: black solid 2px;
    margin-top: 6px;
   /*  margin-left: 415px;
    margin-right: 430px; */
  }

  /* Style for images in head of the page */
    .titlebar img{
      display: inline-block;
      height: 50px;
    }

    /* Style for TopNav conteiner */
    #navbar{
      display: flexbox;
      background-color: #a90101;
      width: 100%;
    }
    .sticky {
      position: fixed;
      top: 0;
    }
    
    .sticky + .content {
      padding-top: 2000px;
    }


  /* Style the topnav links */
    #navbar a {
      margin-left: 28px;
      margin-right: 40px;
      display: inline-block;
      color: #f2f2f2;
      text-transform: uppercase;
      padding: 20px 40px;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }

  /* Change color on hover */
  #navbar a:hover {
    background-color: #ddd;
    height: fit-content;
    color: black;
}

/* #endregion */
/* #region BODY */
  /* Style the content */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  .content {
    margin-top: 20px;
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
  }
  .mainContent {
    display: inline-block;
    width: 50%;
    margin-bottom: 6%;
    vertical-align: top;
  }
  .map {
    text-align: center;
    display: inline-block;
    margin-left: 5%;
    margin-top: 5%;
    width: 40%;
  }

/* #endregion */

/* #region FOOTER */
  /* Style the footer */
  footer {
    display: inline-flex;
    width: 100%;
    background-color: #a90101;
    text-align: left;
    color:  #f2f2f2;
  }
  footer div{
    display: inline-block;
    padding-left: 4%;
    /* margin-left: 80px; */
    margin-right: 80px;
  }
  footer div a{
    text-decoration: none;
    color: #f2f2f2;
  }
  footer div a:hover{
    text-decoration: none;
    color: #b8b4b4;
  }
 

/* #endregion FOOTER */

/* #region TABLE */
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
/* #endregion TABLE*/

/* #region INTERACTION */
  #info {
    display: inline-block;
  }
  #status {
    display: none;
  }
  #config {
    display: none;
  }
/* #endregion INTERACTION */